*.venv
*.pyc
*.code
*.vscode
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
sas-venv/
sas-venv-new/
*.idea

# Rasa specific files
__pycache__/
*.pyc
*.pyo
*.pyd
#*.db
*.db-shm
*.db-wal
*.sqlite
*.json
*.md
*.pkl

# Rasa model directory
models/

# Rasa logs
logs/

# Rasa training files
core/

# Rasa temporary files
.temp/

.rasa/

results/

*.sqbpro
system/story_graph.dot
